* {
	font-family: Arial, Helvetica, sans-serif;
}

:focus{
	outline: none;
}

html,body{
	margin:0px;
	padding:0px;
}

div.calendar{
	margin:0px auto;
	padding:0px;
	clear:both;
	position:relative;
	height:185px;
}


/***********************************TOP NAVIGATION*****************************************/
div.calendar div#navi{
	margin:auto;
	margin-top: 20px;
	position:relative;
	height:20px;
	text-align: center;
	color:#fff;	
	font-weight: bold;
	text-transform: uppercase;
	background: green;
}

div.calendar div#navi div#prev{
	visibility: hidden;
	position:absolute;
	top:0px;
	left:0px;
}
div.calendar div#navi div#next{
	visibility: hidden;
	position:absolute;
	top:0px;
	right:0px;
}

div.calendar .clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

div.calendar a.button {
    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

div.calendar a.button span {
    background: transparent url('bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

div.calendar a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

div.calendar a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 

/*********************************** DATES *****************************************/
div.calendar ul{
	list-style: none;
	float:left;
	padding:0px;
	margin:0;
}

div.calendar ul li{
	display:block;
	width:17px;
	height:20px;	
	margin:0px 0px 1px 1px;
	padding-left: 5px;
	padding-top: 5px;
	font-size:12px;
	font-weight:bold;
	list-style: none;
	float:left;
	background-color:#eee;
	color:#444;
}

div.calendar ul li a{
	color:#FFFFFF;
	text-decoration:none;
}

div.calendar ul li a:link,div#calendar ul li a:visited{
	color:#FFFFFF;
}

div.calendar ul li a:hover,div#calendar ul li a:active{
	color:#DDDDDD;
}

div.calendar ul li.title{
	background-color:#fff;
	color:#000;
	height:20px;	
	padding-left: 5px;
	padding-top: 5px;
	font-size:8px;
}

div.calendar ul li.inactive{
	background-color:#f5f5f5;
	color:#999999;

}

div.calendar ul li.today{
	background-color:#999;
	color:#FFF;
}

div.calendar ul li.start{
	margin-left:0px;
}

div.seperator{
	height::1px;
	width:100%;
	border-bottom:1px solid #ccc;
	margin:0px;
}