body {
	font-family: arial, helvetica, sans-serif;
	color:#333;
	font-size:90%/1.4;
}

p {
	margin-bottom:1em;
}

a {
	text-decoration:none;
}

h1.page-title {
	font-size:20px;
	background:#eee;
	padding:5px 20px;
	margin-bottom:10px;
	margin-top:20px;
}

#header {
	background:#00457c;
	padding-top:13px;
	
}

#inner-header {
	background:url(../images/header.jpg) center -13px no-repeat #dff1ff;
	height:136px;
	border-bottom:4px solid #5391c3;
}

#main-wrapper {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

#logo {
	margin-top:10px;
}

#site-name,
#slogan {
	text-align:center;
}

#site-name a {
	font-size:175%;
	color:#444;
	text-decoration:none;
}

#slogan {
	font-size:115%;
}

#user-login-form .form-item {
	margin-bottom:10px;
}

#user-login-form input {
	width:90%;
	font-size:1.2em;
	padding:1px 3px;
	-moz-border-radius:2px;
	border-radius:2px;
}

#user-login-form #edit-submit {
	float:right;
	width:40%;
	border:1px solid #bbb;
	margin-top:10px;
	padding:0 3px;
	background:#ddd;
	font-size:1em;
}

#user-login-form #edit-submit:hover {
	box-shadow:0 0 3px #888;
}

#user-login-form .item-list ul li a {
	text-decoration:none;
}

#user-login-form .item-list ul li a:hover {
	text-decoration:underline;
}

ul.primary-tabs a,
.form-submit,
ul.secondary-tabs a {
	padding:1px 10px 0;
	background:#F6F6F6;
	background:-webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#ddd));
	border:1px solid #999;
	margin-right:10px;
	margin-bottom:5px;
	-mox-border-radius:2px;
	border-radius:2px;
	text-decoration:none;
	color:#444;
	font-weight:bold;
}

.form-submit,
ul.secondary-tabs {
	margin-top:10px;
}

ul.primary-tabs a:hover,
.form-submit:hover,
ul.secondary-tabs a:hover {
	-moz-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
}

.block-title {
	display:block;
	font-size:1.3em;
	font-weight:bold;
	background:#eee;
	padding:5px;
	padding-left:20px;
	margin:20px 0;
}

#account-nav {
}

#account-nav a {
	color:#555;
	font-size:1.1em;
	font-weight:bold;
	text-decoration:none;
	padding:5px 30px;
	background:#dff1ff;
	border:1px solid #ccc;
	border-top:none;
	-moz-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
	float:left;
}

#account-nav a:hover {
	background:#00437e;
	color:#dff1ff;
}

#account-nav li.last a {
	float:right;
	background:#eee;
}

#account-nav li.last a:hover {
	border:1px solid #444;
	color:#555;
	border-top:none;
}

#left {
	padding-top:20px;
}

.calendar {
	width:160px;
}

.calendar h3 {
	background:green;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
}

#inner-main {
	padding: 0 15px;
}

#inner-right {
}

#right.grid_3 {
	width:158px;
}

#node-15 h2 {
	background:#eee;
	font-size:20px;
	padding:5px;
}

.left-heading {
	display:inline-block;
	margin-right:265px;
}

#block-menu-menu-quick-links li {
	margin:5px 0;
}

#block-menu-menu-quick-links a,
.collapsible a {
	color:#444;
	padding-left:20px;
	background:url(../images/link-bg.jpg) no-repeat left center;
}

.node-event {
	padding:20px;
}

.green {
	background:#ddffd9;
}

.red {
	background:#ffdde6;
}

.node-event .field {
	margin-bottom:7px;
	font-size:1.1em;
}

.node-event .field-label {
	display:inline-block;
	float:left;
	width:10em;
}