a.unflag-action {
	/*visibility:hidden;*/
}

.green {
	background:#DCFFDF;
}

td.active {
	background:none;
}

table th {
	text-align:left;
	text-decoration:underline;
}

.view-content table tr {
	height:30px;
}

.view-id-home_listing .views-row,
.view-id-my_events .views-row {
	padding:20px 20px 40px 20px;
	margin:20px 0;
	position:relative;
}

.view-id-my_events .views-row {
	background:#DCFFDF;
}

.view-id-my_events .views-field-title,
.view-id-home_listing .views-field-title {
	font-weight:bold;
}

.view-id-home_listing .views-field-field-address-value,
.view-id-home_listing .views-field-field-city-value,
.view-id-home_listing .views-field-field-state-value {
	float:left;
	margin-right:8px;
}

.views-field-field-notes-value {
	clear:both;
}

.view-id-home_listing .views-field-view-node {
	clear:both;
	float:left;
	margin-right:30px;
}

.view-id-home_listing .views-field-view-node {
}

.view-id-home_listing .views-field-field-trainer-uid {
	position:absolute;
	top:20px;
	left:460px;
}

.view-id-home_listing .views-field-field-trainer-uid label {
	text-decoration: underline;
}

.view-id-home_listing .views-field-ops {
	position:absolute;
	bottom:20px;
	left:460px;
}

.views-field-field-notes-value {
	padding:15px;
	margin:30px 0 15px;
}